<br>
<br>
<center>
<h3 style="margin-left: 10px;">Voici notre team de folie :</h3>
<br>
<p style="margin-left: 10px;"></p>
<p style="margin-left: 10px;"></p>
<body style="margin-left: 10px;" >
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%=image_tag("image2.jpeg", size: "188x188")%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Nazanin Farshad</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%=image_tag("avatar.png", size: "188x188")%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Arnaud Taniere</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%=image_tag("avatar.png", size: "188x188")%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Pablo Eskenazi</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%=image_tag("avatar.png", size: "188x188")%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Chelton Ajax</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%=image_tag("avatar.png", size: "188x188")%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Jonathan Sylvestre</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%=image_tag("avatars-femmes.png", size: "188x188")%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Lola Donval</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
</center>
</body>